@{
    ViewData["Title"] = "Feedback sent";
}

<div class="feedback-sent-page page" id="feedback-sent-page">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 mb-4">
                <a asp-controller="" asp-action=""><i class="fas fa-angle-left mr-2"></i>@Texts.BackToAnimals</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-5 text-center">
                <i class="fas fa-check-circle green-success fa-3x"></i>
                <div class="mt-4">
                    <div class="heading-2">
                        @Texts.FeedbackSent
                    </div>
                    <div class="alert alert-success mt-4 text-left" role="alert">
                        <div class="text-center">@Texts.FeedbackSent</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>