@{
    ViewData["Title"] = "Animal added";
}

<div class="animal-added-page page" id="animal-added-page">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 mb-4">
                <a asp-controller="" asp-action=""><i class="fas fa-angle-left mr-2"></i>Back to Animal Overview</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-5 text-center">
                <i class="fas fa-check-circle green-success fa-3x"></i>
                <div class="mt-4">
                    <div class="heading-2">
                        Animal added
                    </div>
                    <div class="alert alert-success mt-4 text-left" role="alert">
                        <div class="text-center">Animal added!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>