@using Domain
@model WebApp.Areas.Admin.ViewModels.Animal.AnimalModel

@{
ViewData["Title"] = "Animal";
}

<div class="animal-details-page page" id="animal-details-page">
    <section class="row">
        <div class="col-md-8">
            <h5 class="heading">
                @Model.Name
            </h5>
        </div>
        <div class="col-md-4 text-left text-lg-right">
            <form asp-action="Delete">
                <input asp-for="Id" type="hidden">
                <button class="btn btn-action" type="submit">
                    Kustuta<i class="far fa-trash-alt ml-2"></i>
                </button>
            </form>
        </div>
    </section>
 

    <div class="heading-divider"></div>

    <form asp-action="Update" method="post">
        <input asp-for="Id" type="hidden">
        <section class="row mt-3">
            <div class="col-lg-8">
                <label asp-for="Name" class="input-label mt-4">Nimetus</label>
                <input asp-for="Name" class="form-control">

                <label asp-for="Description" class="input-label mt-4">Kirjeldus</label>
                <textarea asp-for="Description" class="form-control animal-description"></textarea>

                <label asp-for="BinomialName" class="input-label mt-4">Ladinakeelne nimetus</label>
                <input asp-for="BinomialName" class="form-control">

                <label asp-for="ConservationStatusId" class="input-label mt-4">Ohustaatus</label>
                <select asp-for="ConservationStatusId" asp-items="Model.ConservationStatuses" class="custom-select"></select>

                <div class="row mt-5">
                    <div class="col-md-8">
                        <h5 class="heading">
                            Pildid
                        </h5>
                    </div>
                    <div class="col-lg-4 text-left text-lg-right">
                        <a asp-area="Admin" asp-controller="Animal" asp-action="Add" class="btn-action">
                            Lisa pilt
                            <i class="fas fa-plus color-success ml-2"></i>
                        </a>
                    </div>
                </div>
                <div class="heading-divider mb-4"></div>

                <div class="card-white-round p-3">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="radius-5 h-100 w-100" src="/@Model.FeaturedImage.Url" />
                        </div>
                        <div class="col-md-7">
                            <div class="text-right py-1">
                                <a asp-area="Admin" asp-controller="Animal" asp-action="Add" class="btn-action">
                                    Eemalda
                                    <i class="fas fa-times ml-2 gray"></i>
                                </a>
                            </div>
                            <div class="text-right py-1">
                                <a asp-area="Admin" asp-controller="Animal" asp-action="Add" class="btn-action">
                                    Muuda
                                    <i class="fas fa-pencil-alt ml-2 gray"></i>
                                </a>
                            </div>
                            <div class="text-right py-1">
                                <a asp-area="Admin" asp-controller="Animal" asp-action="Add" class="btn-action">
                                    Määra peamiseks
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-8">
                        <h5 class="heading">
                            Heliklipid
                        </h5>
                    </div>
                    <div class="col-lg-4 text-left text-lg-right">
                        <a asp-area="Admin" asp-controller="Animal" asp-action="Add" class="btn-action">
                            Lisa heliklipp
                            <i class="fas fa-plus color-success ml-2"></i>
                        </a>
                    </div>
                </div>
                <div class="heading-divider mb-4"></div>

                <div class="card-white-round p-3">
                    <div class="row">
                        <div class="col-6">
                            1. Hallhülge lugu
                        </div>
                        <div class="col-auto ml-auto">
                            <a asp-area="Admin" asp-controller="Animal" asp-action="Add" class="btn-action">
                                Muuda
                                <i class="fas fa-pencil-alt ml-2 gray"></i>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a asp-area="Admin" asp-controller="Animal" asp-action="Add" class="btn-action">
                                Eemalda
                                <i class="fas fa-times ml-2 gray"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="card-white card-white-round mt-4 p-3">
                    <label asp-for="Description" class="input-label">Staatus</label>
                    <select class="custom-select"></select>
                    <div class="divider-brown-light my-4"></div>
                    <div class="label-group">
                        <span class="label">Viimati muudetud:</span> 15.11.19
                    </div>
                    <div class="label-group">
                        <span class="label">Loodud:</span> 15.11.19
                    </div>
                    <div class="divider-brown-light my-4"></div>
                    <button class="btn btn-primary btn-block mt-4" type="submit">Salvesta</button>
                </div>
            </div>
        </section>
    </form>
</div>