/*********** COLOR  **********/

//#f4f4f6

$color-main: #19191a;
$color-brown-light: #F6F5F1;
$color-brown: #EAE5D8;
$color-brown-dark: #D7B085;

$color-black: #191C1A;
$color-red: #F44657;
$color-red-light: #E01417;
$color-gray: #A1A3A6;
$color-gray-light: #F2F4F6;
$color-gray-dark: #747B82;
$color-green: #03A678;

$color-success: #03A678;
$color-danger: #F44657;

$white: #FFFFFF !default;
$gray-100: #f7f9fa !default;
$gray-200: #edf1f5 !default;
$gray-300: #EAEDF1 !default;
$gray-400: #c6c9cc !default;
$gray-500: #a1a3a6 !default;
$gray-600: #575859 !default;
$gray-700: #313233 !default;
$gray-800: #19191a !default;
$gray-900: #0c0d0d !default;
