

.mobile-nav {
    background: $white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    border-top: 1px solid $color-brown;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    .nav-item {
        text-align: center;
        padding: 1.5rem 0;
        display: block;
        font-weight: $font-weight-semibold;
    }
}


/*********** ANIMALS **********/

.animal-list {
    background: $white;

    .animal-list-item {
        background: $white;
        padding: 1rem 2rem;
        border-bottom: 1px solid $color-brown;

        .animal-list-img {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            border: 1px solid $color-brown;
            object-fit: cover;
            margin-right: 2rem;
        }
    }
}


/*********** ANIMAL DETAILS **********/

.animal-details-page {
    .btn-back {
        top: 1rem;
        padding: 1rem;
        position: absolute;
        color: $white;
    }

    .featured-img {
        display: block;
        height: 20rem;
        min-height: 20rem;
        width: 100%;
        object-fit: cover;
    }
    
    .card-animal-info {
        justify-content: center;
        background: $white;
        border-radius: 0.5rem;
        margin-top: -2rem;
        padding: 1rem 2rem;
        @extend .shadow-1;
    }
}

.animal-soundtrack {
    background: $white;
    padding: 1rem;
}