@model WebApp.Areas.Admin.ViewModels.Map.MapSegment.MapSegmentListModel

@{
ViewData["Title"] = "Animals";
}

<div class="map-segments-page page" id="map-segments-page">
    <div class="row">
        <div class="col-lg-8">
            <h5 class="heading">
                @Texts.MapSegments
            </h5>
        </div>
        <div class="col-lg-4 text-left text-lg-right">
            <a asp-area="Admin" asp-controller="Map" asp-action="MapSegmentAdd" class="btn-action">
                @Texts.MapSegmentAdd
                <i class="fas fa-plus color-success ml-2"></i>
            </a>
        </div>
    </div>

    <div class="heading-divider"></div>

    <div class="row">
        <div class="col-lg-5">
            <div class="input--white my-4">
                <input type="text" name="name" value="" placeholder="Otsi" autocomplete="off"
                    class="searchbox form-control" />
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <div class="animal-list">
        @foreach (var mapSegment in Model.MapSegments)
        {
            <div class="bg-white border-bottom-brown-dark">
                <a asp-action="MapSegment" asp-route-id="@mapSegment.Id" class="row no-gutters list-card">
                    <div class="col-11">
                        @mapSegment.Name
                    </div>
                    <div class="col-1 text-center">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </a>
            </div>
        }
    </div>
</div>