@{
    ViewData["Title"] = "Map segment deleted";
}

<div class="map-segment-deleted-page page" id="map-segment-deleted-page">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 mb-4">
                <a asp-controller="Map" asp-action="MapSegments"><i class="fas fa-angle-left mr-2"></i>Back to Map Segments Overview</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-5 text-center">
                <i class="fas fa-check-circle green-success fa-3x"></i>
                <div class="mt-4">
                    <div class="heading-2">
                        Map segment deleted
                    </div>
                    <div class="alert alert-success mt-4 text-left" role="alert">
                        <div class="text-center">Map segment deleted!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>