@model WebApp.Areas.Admin.ViewModels.Map.MapSegment.MapSegmentModel

@{
    ViewData["Title"] = "Add map segment";
}

<div class="add-animal-page page" id="add-animal-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <h4 class="heading heading-line mt-4">
                    @Texts.MapSegmentAdd
                </h4>
                <form asp-area="Admin" asp-controller="Map" asp-action="MapSegmentAdd" method="post" class="mt-4">
                    <div class="form-group">
                        <label class="font-weight-semibold mb-1" asp-for="Name">Name</label>
                        <input class="form-control" placeholder="" asp-for="Name" minlength="2"/>
                        <span asp-validation-for="Name" class="invalid-feedback"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-5">@Texts.MapSegmentAdd<i class="far fa-paper-plane ml-3"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>